<div id="chathub">
    <input type="checkbox" id="check">
    <label class="chat-btn" for="check">
        <i class="fa fa-comment comment"></i>
        <i class="fa fa-x close"></i>
    </label>
    <div class="chat-wrapper">
        <div class="chat-header">
            <h6>Chat</h6>
        </div>
        <div class="ps-3">
            <ul id="chat-messages"></ul>
        </div>
        <div class="chat-form">
            <textarea class="form-control" id="Message" placeholder="Message"></textarea>
            <button class="btn btn-primary" id="sendMessage">Submit</button>
        </div>
    </div>
</div>
<audio id="chat-notification" src="~/sounds/chathub-notification.mp3" muted></audio>