<p class="portal-footer" style="font-size: small;">
    &copy; Copyright <strong><span>NexusConnect</span></strong>.
    <br />
    All Rights Reserved - @DateTime.Today.Year
    <br />
    <br />
    <a href="#" id="privacy-policy" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Privacy Policy</a>
</p>
