@using Microsoft.AspNetCore.Identity
@using NexusConnectCRM.Data.Models.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject NexusConnectCRM.Data.ApplicationDbContext _context

@{
    var firstName = _context.Users.FirstOrDefault(u => u.Id == UserManager.GetUserId(User))?.FirstName;
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-link scrollto" id="userNavigation">
        <div class="dropdown">
            <a href="#">
                @if (!string.IsNullOrEmpty(firstName))
                {
                    <span>Hello, @firstName!</span>
                }
                else
                {
                    <span>Hello, @User.Identity?.Name!</span>
                }
                <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" id="userNavigationDropdownMenu" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("HeadAdmin"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Index" asp-action="Index" title="Portal">Portal</a>
                    </li>
                }
                @if (User.IsInRole("Employee") || User.IsInRole("Help Desk"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Employee" asp-controller="Index" asp-action="Index" title="Portal">Portal</a>
                    </li>
                }
                @if (User.IsInRole("Customer"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Customer" asp-controller="Index" asp-action="Index" title="Portal">Portal</a>
                    </li>
                }
                @if (User.IsInRole("Prospect"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Prospect" asp-controller="Index" asp-action="Index" title="Portal">Portal</a>
                    </li>
                }
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link" title="Logout">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
