<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
        <div class="card">
            <h1 class="text-center">Update Info</h1>
            <div class="card-body prospect-update-info">
                <a class="btn btn-primary btn-responsive" asp-area="Identity" asp-page="/Account/Manage/Index" title="Update Profile">
                    <i class="fa fa-solid fa-user"></i>
                    Update Profile
                </a>
                <a class="btn btn-warning" href="#" title="Help">
                    <i class="fa fa-solid fa-question"></i>
                    Help
                </a>
            </div>
        </div>
    </div>
</div>
