<li>
    <form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link" title="Logout">
            <span class="fa fa-sign-out-alt"></span>&nbsp;&nbsp;Logout
        </button>
    </form>
</li>
