@using Microsoft.AspNetCore.Identity
@inject NexusConnectCRM.Data.ApplicationDbContext _context
@using System.Linq

@{
    var helpTicketNotifications = _context.Help.Where(h => h.IsCompleted == false && 
                                                           h.IsClosed == false && 
                                                           h.IsPending == true && 
                                                           h.EmployeeWasRecentResponse == true).Count();
                                                           
}

<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Home" asp-action="Index">
    Home
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Prospect" asp-action="Index">Dashboard</a>
<div class="dropdown dropend">
    <button class="dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 portal-profile-edit-button" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Update Profile">
                Update Profile
            </a>
        </li>
    </ul>
</div>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-action="Index" asp-controller="HelpInfo">
    Help
    @if (helpTicketNotifications > 0)
    {
        if (helpTicketNotifications > 99)
        {
            <span class="badge bg-danger rounded-pill">99+</span>
        }
        else
        {
            <span class="badge bg-danger rounded-pill">@helpTicketNotifications</span>
        }
    }
</a>
<form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" class="list-group-item list-group-item-action list-group-item-light p-3" style="width: 100%;">Logout</button>
</form>
