@model NexusConnectCRM.Areas.Employee.ViewModels.ListHelpViewModel
@inject NexusConnectCRM.Data.ApplicationDbContext _context
@{
    ViewBag.Title = "Help Tickets";
    Layout = "~/Views/Shared/_EmployeePortalLayout.cshtml";
}

@if (Model.HelpList.Count() == 0)
{
    <h1 class="text-center">
        No Tickets
    </h1>
}
else
{
    <div class="container">
        <div class="row">
            <h1 class="text-center">Help Tickets</h1>
            <div class="col" style="margin: 0 auto;">
                @foreach (var help in Model.HelpList)
                {
                    string fullName = _context.Users.Where(u => u.Id == help.Author)
                                                    .Select(u => u.FirstName + " " + u.LastName)
                                                    .FirstOrDefault();

                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                @if (help.CustomerWasRecentResponse)
                                {
                                    <span class="fa fa-exclamation-circle" title="Is Waiting For Response..." style="color: red;"></span>
                                }
                                @help.Title
                            </h5>
                            <p class="mt-3">User: @fullName</p>
                            <p>Submitted: @help.CreatedDate</p>
                            <a href="@Url.Action("HelpEdit", "Employee", new { id = help.Id, author = help.Author })" class="btn btn-primary">View</a>
                        </div>
                        <div class="card-footer d-flex d-inline">
                            @if (help.IsApproved)
                            {
                                <p class="m-lg-2">Approved: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Approved: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsCompleted)
                            {
                                <p class="m-lg-2">Completed: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Completed: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsPending)
                            {
                                <p class="m-lg-2">Pending: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Pending: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsRejected)
                            {
                                <p class="m-lg-2">Rejected: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Rejected: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsClosed)
                            {
                                <p class="m-lg-2">Closed: <i class="fas fa-check-circle" style="color: green;"></i></p>

                            }
                            else
                            {
                                <p class="m-lg-2">Rejected: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
