@model NexusConnectCRM.Data.Models.Help.HelpInfo

@{
    ViewData["Title"] = "Create Help Ticket";

    if (User.IsInRole("Prospect"))
    {
        Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";
    }
    else if (User.IsInRole("Customer"))
    {
        Layout = "~/Areas/Customer/Views/Shared/_CustomerPortalLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<section class="create-help-ticket" id="create-help-ticket">
    <div class="container mt-5" data-aos="fade-left" data-aos-delay="100">
        <div class="row">
            <div class="col-md-10 shadow border border-secondary-subtle" style="margin: 0 auto;">
                <h1 class="text-center">Create Ticket</h1>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" id="title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="10" id="description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input asp-for="Image" class="form-control" accept="image/*" type="file" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex inline mt-2 mb-2">
                        <button type="submit" class="btn btn-primary" id="submitForm">
                            Create
                        </button>
                        <button class="btn btn-secondary" onclick="window.history.back()" type="button">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    const title = document.getElementById("title");
    const description = document.getElementById("description");
    const submitForm = document.getElementById("submitForm");

    submitForm.addEventListener("click", (e) => {
        $(submitForm).css("pointer-events", "none");
        $(submitForm).css("cursor", "not-allowed");
        $(submitForm).css("opacity", "0.5");
        $(submitForm).css("disabled", "true");

        if (title.value === "" || description.value === "") {
            e.preventDefault();
            $(submitForm).css("pointer-events", "auto");
            $(submitForm).css("cursor", "pointer");
            $(submitForm).css("opacity", "1");
            $(submitForm).css("disabled", "false");

            alert("Please fill out all fields.");
        }
    });
</script>
