@model NexusConnectCRM.ViewModels.HelpInfoData.HelpInfoIndexViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<NexusConnectCRM.Data.Models.Identity.ApplicationUser> UserManager
@{
    ViewData["Title"] = "Help Tickets";

    if (User.IsInRole("Prospect"))
    {
        Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";
    }
    else if (User.IsInRole("Customer"))
    {
        Layout = "~/Areas/Customer/Views/Shared/_CustomerPortalLayout.cshtml";
    }
    else if (User.IsInRole("Employee"))
    {
        Layout = "~/Areas/Employee/Views/Shared/_EmployeePortalLayout.cshtml";
    }
    else if (User.IsInRole("Admin") || User.IsInRole("HeadAdmin"))
    {
        Layout = "~/Areas/Admin/Views/Shared/_AdminPortalLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var id = UserManager.GetUserId(User);
    string firstAndLastName = UserManager.Users.Where(x => x.Id == id).Select(x => x.FirstName + " " + x.LastName).FirstOrDefault();
}

<div class="container mt-3 mb-3" data-aos="fade-left" data-aos-duration="1000">
    <h1 class="text-center">My Tickets</h1>
    <a class="btn btn-primary mb-2" href="@Url.Action("Create", "HelpInfo")">New Ticket</a>
    <div class="row mt-3 help-ticket-tabs">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="openTickets" aria-current="page" href="#">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newTickets" href="#">
                        New
                        @if (Model.NewResponses > 0)
                        {
                            @if (Model.NewResponses > 99)
                            {
                                <span class="badge rounded-pill bg-danger">99+</span>
                            }
                            else
                            {
                                <span class="badge rounded-pill bg-danger">@Model.NewResponses</span>
                            }
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pendingTickets" href="#">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="closedTickets" href="#">Closed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rejectedTickets" href="#">Rejected</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col" id="ticketsDisplay">
                @*Partial View Content Will Go Here*@
            </div>
        </div>
    </div>
</div>

<script src="~/js/HelpIndex.js" asp-append-version="true" defer></script>
