@model NexusConnectCRM.ViewModels.HelpInfoData.HelpInfoIndexViewModel

@{
    ViewData["Title"] = "Help Tickets";
    if (User.IsInRole("Prospect"))
    {
        Layout = "~/Views/Shared/_ProspectPortalLayout.cshtml";
    }
    else if (User.IsInRole("Customer"))
    {
        Layout = "~/Views/Shared/_CustomerPortalLayout.cshtml";
    }
    else if (User.IsInRole("Employee"))
    {
        Layout = "~/Views/Shared/_EmployeePortalLayout.cshtml";
    }
    else if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1 class="text-center">Help Tickets</h1>

<a class="btn btn-secondary mb-2" href="@Url.Action("Create", "HelpInfo")">Create Ticket</a>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-check" style="color: green; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Completed</p>
    </div>
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-waiting" style="color: orange; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Pending</p>
    </div>
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-exclamation" style="color: red; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Responded</p>
    </div>
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-times" style="color: red; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Rejected</p>
    </div>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Ticket #</th>
            <th>Title</th>
            <th>Employee Viewed</th>
            <th>Reply Status</th>
            <th>Ticket Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model.HelpInfos)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @if (item.EmployeeViewed == true)
                {
                    <td>
                        <span class="fa fa-check" style="color: green; font-size: 16px;"></span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="fa fa-waiting" style="color: orange; font-size: 16px;"></span>
                    </td>

                }
                <td>
                    @if (item.EmployeeWasRecentResponse)
                    {
                        <span class="fa fa-exclamation" style="color: red; font-size: 16px;"></span>
                    }
                    else
                    {
                        <span class="fa fa-waiting" style="color: orange; font-size: 16px;"></span>
                    }
                </td>
                <td>
                    @if (item.IsPending)
                    {
                        <span class="fa fa-waiting" style="color: orange; font-size: 16px;"></span>
                    }
                    else if (item.IsApproved)
                    {
                        <span class="fa fa-check" style="color: green; font-size: 16px;"></span>
                    }
                    else if (item.IsRejected)
                    {
                        <span class="fa fa-times" style="color: red; font-size: 16px;"></span>
                    }
                    else if (item.IsCompleted)
                    {
                        <span class="fa fa-check" style="color: green; font-size: 16px;"></span>
                    }
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
