@model NexusConnectCRM.ViewModels.HelpInfoData.HelpInfoIndexViewModel

@{
    ViewData["Title"] = "Help Tickets";
    if (User.IsInRole("Prospect"))
    {
        Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";
    }
    else if (User.IsInRole("Customer"))
    {
        Layout = "~~/Areas/Customer/Views/Shared/_CustomerPortalLayout.cshtml";
    }
    else if (User.IsInRole("Employee"))
    {
        Layout = "~~/Areas/Employee/Views/Shared/_EmployeePortalLayout.cshtml";
    }
    else if (User.IsInRole("Admin"))
    {
        Layout = "~~/Areas/Admin/Views/Shared/_AdminPortalLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1 class="text-center">My Help Tickets</h1>
@*<div class="d-flex justify-content-center">
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-check" style="color: green; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Completed</p>
    </div>
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-waiting" style="color: orange; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Pending</p>
    </div>
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-exclamation-circle" style="color: red; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Responded</p>
    </div>
    <div class="d-flex flex-row me-3">
        <div style="width: 20px; height: 20px;">
            <span class="fa fa-times" style="color: red; font-size: 16px;"></span>
        </div>
        <p class="ms-1">Rejected</p>
    </div>
</div>*@
@if (Model.HelpInfos.Count() == 0)
{
    <p>
        No Tickets
    </p>
}
else
{
    <div class="container">
        <a class="btn btn-secondary mb-2" href="@Url.Action("Create", "HelpInfo")">Create Ticket</a>
        <div class="row">
            <div class="col" style="margin: 0 auto;">
                @foreach (var help in Model.HelpInfos)
                {
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                @if (help.EmployeeWasRecentResponse)
                                {
                                    <span class="fa fa-exclamation-circle" title="Is Waiting For Response..." style="color: red;"></span>
                                }
                                @help.Title
                            </h5>
                            <p>Submitted: @help.CreatedDate</p>
                            <a href="@Url.Action("Details", "HelpInfo", new { id = help.Id, author = help.Author })" class="btn btn-primary">View</a>
                        </div>
                        <div class="card-footer d-flex d-inline">
                            @if (help.IsApproved)
                            {
                                <p class="m-lg-2">Approved: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Approved: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsCompleted)
                            {
                                <p class="m-lg-2">Completed: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Completed: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsPending)
                            {
                                <p class="m-lg-2">Pending: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Pending: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                            @if (help.IsRejected)
                            {
                                <p class="m-lg-2">Rejected: <i class="fas fa-check-circle" style="color: green;"></i></p>
                            }
                            else
                            {
                                <p class="m-lg-2">Rejected: <i class="fas fa-times-circle" style="color: red;"></i></p>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
