<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Home" asp-action="Index">
    Home
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="Customer" asp-controller="Customer" asp-action="Index">Dashboard</a>
<div class="dropdown dropend">
    <button class="dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 portal-profile-edit-button" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Update Profile">
                Update Profile
            </a>
        </li>
    </ul>
</div>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-action="Index" asp-controller="HelpInfo">
    Help
</a>
<form class="form-inline" id="sidebar-logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" class="list-group-item list-group-item-action list-group-item-light p-3" style="width: 100%;">Logout</button>
</form>
