<div class="container text-center">
    <div class="col">
        <div class="alert alert-danger">
            <strong>Warning!</strong> You have not completed your profile. Please complete your profile before continuing.
        </div>
    </div>
    <div class="col">
        <a class="btn btn-warning" href="@Url.Action("CompleteUserDetails", "Prospect", new { id = Model.User?.Id })">
            <i class="fa fa-solid fa-user"></i>
            Complete Profile
        </a>
    </div>
</div>
