@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
  <div class="row">
    <div class="col text-justify">
      <p>
        We have created this Privacy Policy to demonstrate our firm commitment to privacy and security. This Privacy Policy describes how our Company collects information from all end users of our Internet services (the "Services") - those who access some of our Services but do not have accounts ("Visitors") as well as those who may purchase Products and/or pay a monthly service fee to subscribe to the Service ("Members") - what we do with the information we collect, and the choices Visitors and Members have concerning the collection and use of such information. We request that you read this Privacy Policy carefully.

        <br />
        <b><h3 class="mt-3">Introduction.</h3></b>
        <br />
        Our Company collects information in different ways from Visitors and Members who access the various parts of our Services and the network of Web sites accessible through our Service. We use this information primarily to provide a customized experience as you use our Products and Services and generally, do not share this information with third parties. However, we may disclose personal information collected if we have received your permission beforehand or in very special circumstances, such as when we believe that such disclosure is required by law or other special cases described below.

        <br />
        <b><h3 class="mt-3">Registration.</h3></b>
        <br />
        Members may be asked to provide certain personal information when they sign up for our Products or Services including name, address, telephone number, billing information (such as a credit card number), and the type of personal computer being used to access the Services. The personal information collected from Members during the registration process is used to manage each Member's account (such as for billing purposes). This information is not shared with third parties, unless specifically stated otherwise or in special circumstances.

        <br />
        However, in instances where our company and a partner jointly promote our Services, we may provide the partner certain personal information, such as the name, address, and username of persons who subscribed to the Services as a result of the joint promotion for the sole purpose of allowing us and the partner to assess the results of the promotion.

        <br />
        In this instance, personal information may not be used by the partner for any other purpose. We may also generate non-identifying and aggregate profiles from personal information Members provide during registration (such as the total number, but not the names, of Members). As explained in more detail below, we may use this aggregated and non-identifying information to sell advertisements that appear on the Services.

        <br />
        Our Company Partners and Sponsors. Some products and services may be offered to Visitors and Members in conjunction with an affiliate, independent contractor seller or non-affiliated partner. To provide Visitors and Members some of these products and services, the partner may need to collect and maintain personal information.

        <br />
        In these instances, you will be notified before any such data is collected or transferred and may decide not to use that particular service or feature. Additionally, our partners may have advertisements or co-branded Web Pages that are cosponsored by an affiliate, independent contractor seller, or non-affiliated partner. Our company may share non-identifying and aggregate information (except as described above), but not personal information, with such partners in order to administer the co-branded products or services offered.

        <br />
        <b><h3 class="mt-3">Online Shopping.</h3></b>
        <br />
        At some Web sites, you can purchase products and services or register to receive materials, such as a newsletter, catalog or new product and service updates. In many cases, you may be asked to provide contact information, such as your name, address, email address, phone number, and credit/debit card information.

        <br />
        If you complete an order for someone else, such as an online gift order sent directly to a recipient, you may be asked to provide information about the recipient, such as the recipient's name, address, and phone number. Our company has no control over the third parties' use of any personal information you provide when placing such an order. Please exercise care when doing so.

        <br />
        If you order services or products directly from our company, we use the personal information you provide to process that order. We do share this information with outside parties that we do business with.

        <br />
        <b><h3 class="mt-3">Online Advertisements.</h3></b> 
        <br />
        Our company may display our online advertisements. In those cases we share aggregated and non-identifying information about our Visitors and Members collected through the registration process as well as through online surveys and promotions with these advertisers.

        <br />
        Additionally, in some instances, we use this aggregated and non-identifying information to deliver tailored advertisements or joint ventures. For instance, an advertiser or joint venture company tells us the audience they want to reach and provides us an advertisement tailored to the audience. Based upon the aggregated and non-identifying information we have collected, we may then display or send the advertisement to the intended audience. Our company does not share personal information about its Visitors or Members with these advertisers or joint venture companies.

        <br />
        Responses to Email Inquiries. When Visitors or Members send email inquiries to our company, the return email address is used to answer the email inquiry we receive.

        <br />
        Our company does not use the return email address for any other purpose and does not share the return email address with any third party.

        <br />
        Voluntary Customer Surveys. We may periodically conduct both business and individual customer surveys. We encourage our customers to participate in these surveys because they provide us with important information that helps us to improve the types of products and services we offer and how we provide them to you.

        <br />
        Your personal information and responses will remain strictly confidential, even if the survey is conducted by a third party. Participation in our customer surveys is voluntary.
      </p>
    </div>
  </div>
</div>

