@model NexusConnectCRM.Areas.Employee.ViewModels.EmployeeIndexViewModel

@{
    ViewData["Title"] = "Employee Portal";
    Layout = "~/Views/Shared/_EmployeePortalLayout.cshtml";
}

<div class="container">
    <div class="row">
        
    </div>
</div>
