<nav id="sidebar" data-aos="fade-up-right" data-aos-delay="200">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4">
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-home mr-3"></span>&nbsp;&nbsp;Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Index", new { area = "Admin" })"><span class="fa fa-user mr-3"></span>&nbsp;&nbsp;Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Help", new { area = "Employee" })"><span class="fa fa-paper-plane mr-3"></span>&nbsp;&nbsp;Help Area</a>
            </li>
            @await Html.PartialAsync("_PortalLoginPartial")
        </ul>
        <div class="sidebar-footer">
            <p>
                © Copyright NexusConnect. <br /> All Rights Reserved - @DateTime.Now.Year
            </p>
            <a href="#" id="privacy-policy" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Privacy Policy</a>
        </div>
    </div>
</nav>