<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top" id="sidebar" data-aos="fade-right" data-aos-delay="100">
    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-home"></i><span class="spacer d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Index", new { area = "Admin" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-dashboard"></i><span class="spacer d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Help", new { area = "Employee" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-paper-plane mr-3"></i><span class="spacer d-none d-sm-inline">Help Area</span>
                </a>
            </li>
        </ul>
        @await Html.PartialAsync("_PortalAccountOptions")
        @await Html.PartialAsync("_FooterPortal")
    </div>
</div>