@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <div class="row">
        <div class="col text-center text-danger">
            <p style="font-size: 60px;"><i class="fa fa-solid fa-exclamation-triangle"></i></p>
            <h1>Access Denied</h1>
        </div>
    </div>
</div>
