@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section id="forgot-password-section">
    <div class="row forgot-password-form" data-aos="fade-down" data-aos-delay="200">
        <div class="col-md-8 text-center mt-4" style="margin: 0 auto;">
            <h1 class="text-center forgot-password-title mt-2">@ViewData["Title"]</h1>
            <small class="text-muted">Please enter your email address to reset your password.</small>
            <form class="mt-2" method="post">
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
