@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section id="register" class="register">
    <div class="container h-custom account-register-form" data-aos="fade-up" data-aos-delay="200" style="margin: 0 auto; margin-top: 20px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6">
                <img src="~/images/Register/register-image.png"
                     class="img-fluid" alt="register-image" />
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h1 class="text-center register-title">
                    @ViewData["Title"]
                </h1>
                <div class="text-center text-muted">
                    Create an account to get started!
                </div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="py-3">
                    <div class="form-group">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username" placeholder="First Name" aria-required="true" autofocus />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username" placeholder="Last Name" aria-required="true" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="username" type="date" aria-required="true" />
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email Address" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.PhoneNumber" class="form-control" id="phoneNumber" maxlength="16" autocomplete="username" placeholder="Phone" type="tel" aria-required="true" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" id="password" autocomplete="new-password" placeholder="Password" title="Password must be at least 6 characters long and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character." aria-required="true" />
                        <div class="progress mt-2 d-none" id="progress">
                            <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="password-strength-text" id="password-strength-text" style="font-size: 12px;"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confrim Password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <div class="row col-12">
                    <p>
                        <a id="existing-account" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Click here to login.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/PasswordStrength.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script type="text/javascript">
    // Phone number formatting \\
    const isNumericInput = (event) => {
        const key = event.keyCode;
        return ((key >= 48 && key <= 57) ||
            (key >= 96 && key <= 105)
        );
    };

    const isModifierKey = (event) => {
        const key = event.keyCode;
        return (event.shiftKey === true || key === 35 || key === 36) ||
            (key === 8 || key === 9 || key === 13 || key === 46) ||
            (key > 36 && key < 41) ||
            (
                (event.ctrlKey === true || event.metaKey === true) &&
                (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
            )
    };

    const enforceFormat = (event) => {
        if (!isNumericInput(event) && !isModifierKey(event)) {
            event.preventDefault();
        }
    };

    const formatToPhone = (event) => {
        if (isModifierKey(event)) { return; }

        const input = event.target.value.replace(/\D/g, '').substring(0, 10);
        const areaCode = input.substring(0, 3);
        const middle = input.substring(3, 6);
        const last = input.substring(6, 10);

        if (input.length > 6) { event.target.value = `(${areaCode}) ${middle} - ${last}`; }
        else if (input.length > 3) { event.target.value = `(${areaCode}) ${middle}`; }
        else if (input.length > 0) { event.target.value = `(${areaCode}`; }
    };

    const inputElement = document.getElementById('phoneNumber');
    inputElement.addEventListener('keydown', enforceFormat);
    inputElement.addEventListener('keyup', formatToPhone);

    $(document).ready(function () {
        let strengthValue = ReturnStrength();

        $('#registerForm').submit(function (e) {
            let button = $(this).find(':submit');
            let strengthValue = ReturnStrength();
            SpinnerButton(button);

            console.log(strengthValue);

            if (strengthValue < 5) {
                e.preventDefault();
                alert('Password must be at least 6 characters long and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.');
                RevertSpinnerButton(button, 'Register');
            } else if ($(this).valid() == false) {
                RevertSpinnerButton(button, 'Register');
            }
        });

        const SpinnerButton = (button) => {
            let buttonWidth = $(button).width();
            let buttonHeight = $(button).height();

            $(button).width(buttonWidth);
            $(button).height(buttonHeight);
            $(button).prop('disabled', true);
            $(button).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
        }

        const RevertSpinnerButton = (button, text) => {
            $(button).prop('disabled', false);
            $(button).html(text);
        }
    });
</script>