@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row account-register-form">
    <div class="col-md-6">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="py-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" placeholder="First name" aria-required="true" autofocus />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" placeholder="Last name" aria-required="true" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="username" type="date" aria-required="true" />
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email address" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" placeholder="Phone" type="tel" aria-required="true" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confrim password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <div class="row col-12">
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Click here to login.</a>
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
