html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f8f9fa;
    overflow-x: auto;
}

.account-login-form,
.account-register-form,
.forgot-password-form {
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.account-login-form,
.account-register-form,
.form-group {
    margin-bottom: 15px;
}

.account-login-form,
.account-register-form,
button {
    width: 100%;
    font-size: 16px;
}

.prospect-info-card {
    margin: 0 auto;
    height: auto;
    margin-bottom: 10px;
}

.prospect-update-info {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    height: auto;
    text-align: center;
}

    .prospect-update-info a, button {
        width: 200px;
        margin-bottom: 10px;
        text-align: center;
    }

.employee-info-card {
    margin: 0 auto;
    height: auto;
    margin-bottom: 10px;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    height: 720px;
}

#page-content-wrapper {
    min-width: 100vw;
    margin: 0 auto;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    text-align: center;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }


#sidebarToggle {
    width: 80px;
}

#logoutForm button {
    width: 90px;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

.portal-navbar {
    display: none;
}

.profile-info-container {
    margin: 0 auto;
    margin-left: 10%
}

.mobile-nav-logo {
    display: none;
}

.form-inline button {
    border-width: 0 0 1px;
}

.portal-profile-edit-button {
    border-top: none;
    border-right: none;
    margin-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .form-inline button {
        font-size: 14px;
    }

    .desktop-nav-logo img {
        display: none;
    }

    .desktop-nav-logo:after {
        content: "NexusConnect";
        font-size: 22px;
    }

    .mobile-nav-logo {
        display: block;
    }

    .portal-navbar {
        display: block;
    }

    .profile-info-container {
        margin-left: auto;
        margin-right: auto;
    }

    .card-body a {
        width: 100px;
        font-size: 12px;
    }

    #sidebar-wrapper {
        margin-left: 0;
        width: 100%;
    }

    #page-content-wrapper {
        min-width: 0;
    }

    #sidebarToggle {
        width: 60px;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }


    .navbar-toggler {
        margin-right: 0;
        width: 20%;
        float: right
    }

    .nav-item button {
        margin: 0 auto;
    }

    .navbar-collapse .navbar-nav .nav-item a {
        text-align: center
    }

    .employee-info-card {
        margin: 0 auto;
        height: auto;
        margin-bottom: 10px;
    }

    .our-services-card {
        margin-bottom: 10px;
    }

    .carousel-inner > .carousel-item > img {
        width: 100%;
        height: 200px;
    }

    .portal-profile-edit-button {
        font-size: 14px;
    }

    footer {
        text-align: center;
        height: 10px !important;
        padding-top: 30px;
    }
}
