<footer id="footer-portal">
    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>NexusConnect</span></strong>. All Rights Reserved - @DateTime.Today.Year
        </div>
    </div>
</footer>
