<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - NexusConnect</title>
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/lib/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            @await Html.PartialAsync("~/Areas/Prospect/Views/Shared/_ProspectSidebar.cshtml")
            <div class="col d-flex flex-column h-sm-100">
                <main class="row overflow-auto">
                    <div class="col pt-4">
                        @RenderBody()
                    </div>
                </main>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Preloader")
    @await Html.PartialAsync("_BackToTopButton")
    @await Html.PartialAsync("_PrivacyPolicyModal")

    <script src="~/lib/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/lib/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vendor/aos/aos.js"></script>
    <script src="~/lib/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/ProspectScripts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
