<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - NexusConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NexusConnectCRM.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        @await Html.PartialAsync("_ProspectSidebar")
        <main role="main">
            <div id="content" class="p-4 p-md-5 pt-5">
                @RenderBody()
            </div>
        </main>
    </div>

    @await Html.PartialAsync("_Preloader")
    @await Html.PartialAsync("_BackToTopButton")
    @await Html.PartialAsync("_PrivacyPolicyModal")

    <script src="~/lib/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/lib/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vendor/aos/aos.js"></script>
    <script src="~/lib/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*    <script src="~/js/ProspectScripts.js" asp-append-version="true"></script>
    *@    @await RenderSectionAsync("Scripts", required: false)

    <script>
        (function ($) { "use strict"; var fullHeight = function () { $('.js-fullheight').css('height', $(window).height()); $(window).resize(function () { $('.js-fullheight').css('height', $(window).height()); }); }; fullHeight(); $('#sidebarCollapse').on('click', function () { $('#sidebar').toggleClass('active'); }); })(jQuery);
    </script>
</body>
</html>
