@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to NexusConnect!</h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/Home/slide-1.jpg" class="d-block w-100" alt="slide-1">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/Home/slide-2.jpg" class="d-block w-100" alt="slide-2">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/Home/slide-3.jpg" class="d-block w-100" alt="slide-3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <h2 class="text-center mt-4">
        Our Services
    </h2>
    <div class="row mt-4">
        <div class="col-sm">
            <div class="card our-services-card">
                <div class="card-body">
                    <h5 class="card-title text-center">Streamline Your Business</h5>
                    <p class="card-text">
                        NexusConnect allows you to streamline your customer relations by providing a platform for your customers to contact you. This allows you to keep track of your customers and their issues and allows you to respond to them in a timely manner along with keeping track of your customer's issues.
                    </p>
                    <a href="#" class="card-link">Link</a>
                    <a href="#" class="card-link">Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card our-services-card">
                <div class="card-body">
                    <h5 class="card-title text-center">API</h5>
                    <p class="card-text">
                        NexusConnect provides an API for you to use to integrate your website with NexusConnect. This allows you to use NexusConnect's services without having to use the NexusConnect website and allows you to integrate NexusConnect into your own website.
                    </p>
                    <a href="#" class="card-link">Link</a>
                    <a href="#" class="card-link">Link</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Customization</h5>
                    <p class="card-text">
                        NexusConnect allows you to customize your customer relations by allowing you to customize the look of your customer relations page. This allows you to make your customer relations page look like your website and allows you to make your customer relations page look like your website.
                    </p>
                    <a href="#" class="card-link">Link</a>
                    <a href="#" class="card-link">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
